@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html.dark {
  background-color: #111827; /* dark gray */
  color: #f9fafb; /* text color */
}

@keyframes slide-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0fdf4; /* Light green background behind the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f1cf0d, #f7cb0a); /* Gradient green thumb */
  border-radius: 10px;
  border: 3px solid #f0fdf4; /* Creates padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f1cf0d, #f7cb0a); /* Darker green on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dbbc0b #f0fdf4; /* thumb color, track color */
}
/* phone vibrate */
@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.vibrate {
  animation: vibrate 0.3s linear infinite;
}
